<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<title>MacroPro | Getting your nutrition in check!</title>
	<style>
		.horizontal-center{
		  	display: table;
		  	margin: 0 auto;
		}/* 
		.food-item {
			position: relative;
			left: 10px;
		} */
 		.food-list-container {
 			margin-top: 45px;
  			text-align: center;
		}
		.food-list {
			display: inline-block;
		}
		.meal-header {
			font-weight: bold;
		}
		.first {
			width: 61%;
		}/* 
		.food-column {
			width: 65%;
		} */
		.quantity-column {
			width: 30%;
		}
		.nutrient-column {
			width: 10.5%;
			text-align:center;
			background-color: #ec312a;
			border: 1px solid black;
			color: white;
		}
		.quantity {
			text-align: center;
			width: 36px;
		}
		.add-food {
		}
		.last-row-tr {
		}
		.last-row-td {
			font-size: 11px;
			padding: 7.5px;
			padding-left: 20px;
			border-bottom:1pt solid black;
		}
		table tr td:nth-child(2) {  
    		padding:10;
		}
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link th:href="@{/resources/css/style.css}" rel="stylesheet" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:src="@{/resources/js/toolbar.js}"></script>
</head>
<body>
	<div id="mp-header">
		<div id="mp-logo" class="horizontal-center"><img th:src="@{/resources/images/logo.jpg}" width="200" height="120" /></div>
		<br>
	</div>	
	
	<div>
		<nav class="navbar navbar-expand-md topbar">
			<div class="container-fluid">
				<ul class="navbar-nav mx-auto">
					<li id="account" class="nav-item"><a class="nav-link" th:href="@{/account}">My Home</a></li>
					<li id="food" class="nav-item"><a class="nav-link" th:href="@{/food/diary}">Food</a></li>
					<li id="about" class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li id="contactus" class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<div>
		<nav class="navbar navbar-expand-md subbar">
			<div class="container-fluid">
				<ul class="navbar-nav mx-auto">
					<li id="diary" class="nav-item"><a class="nav-link" th:href="@{/food/diary}">Food Diary</a></li>
					<li id="search-foods" class="nav-item"><a class="nav-link" th:href="@{/food/search-foods}">Database</a></li>
					<li id="my-foods" class="nav-item"><a class="nav-link" th:href="@{/food/my-foods}">My Foods</a></li>
					<li id="my-meals" class="nav-item"><a class="nav-link" th:href="@{/food/my-meals}">My Meals</a></li>
				</ul>
			</div>
		</nav>
	</div>
	
	<div class="food-list-container">
		<div class="food-list">
			<form th:action="@{/food/diary/add-foods(date=${date}, meal=${meal})}" th:object="${wrapper}" method="post"> <!-- th:object="${fleWrapper}" -->
				<table>
					<tbody>
						<tr th:each="entry, stat: *{entries}">
							<td>
								<input th:id="'entry_' + ${stat.index}" type="checkbox" th:field="*{entries[__${stat.index}__].selected}" /> <!-- th:value="${entry}" -->
								
								<th:block th:if="${entry.food.brand != ''}" >
									<label style="padding-left : 7.5px" th:text="${entry.food.brand} + ' - ' + ${entry.food.name} + ' (' + ${entry.totalServings} + ' ' + ${entry.food.unitOfMeasurement} + ')' " ></label>
								</th:block>
								<th:block th:if="${entry.food.brand == ''}" >
									<label style="padding-left : 7.5px" th:text="${entry.food.name} + ' (' + ${entry.totalServings} + ' ' + ${entry.food.unitOfMeasurement} + ')' " ></label>
								</th:block>
								<span style="padding-left : 10px" ><b>|</b></span>
								<span style="padding-left : 10px; padding-right: 5px;" >Qnt:</span>
								<input th:id="'quantity_' + ${stat.index}" type="text" th:field="*{entries[__${stat.index}__].numberOfServings}" class="quantity" value="" /> <!-- th:value="${entry.numberOfServings}" -->
								<span th:id="'macro_' + ${stat.index}" style="display:none; visibility: hidden; color: red; padding-left: 10px;">
										(
										Calories: <span th:id="'calories_' + ${stat.index}" th:text="${entry.totalCalories} + ','" value="" ></span>
										Carbs: <span th:id="'carbs_' + ${stat.index}" th:text="${entry.totalCarbsGrams} + ' g,'" value="" ></span>
										Fat: <span th:id="'fat_' + ${stat.index}" th:text="${entry.totalFatGrams} + ' g,'" value="" ></span>
										Protein: <span th:id="'protein_' + ${stat.index}" th:text="${entry.totalProteinGrams} + ' g'" value="" ></span>
										)
								</span>
								<input type="hidden" th:field="*{entries[__${stat.index}__].id}" />
								<input th:id="'baseCalories_' + ${stat.index}" type="hidden" th:value="${entry.totalCalories}" />
								<input th:id="'baseCarbs_' + ${stat.index}" type="hidden" th:value="${entry.totalCarbsGrams}" />
								<input th:id="'baseFat_' + ${stat.index}" type="hidden" th:value="${entry.totalFatGrams}" />
								<input th:id="'baseProtein_' + ${stat.index}" type="hidden" th:value="${entry.totalProteinGrams}" />
							</td>
						</tr>
					</tbody>
				</table>
				
				<br>
				<div class="horizontal-center">
					<input id="submit-foods" type="submit" value="Submit" />
				</div>
			</form>
		</div>
	</div>
	
	<script type="text/javascript">
		Number.prototype.countDecimals = function () {
		    if(Math.floor(this.valueOf()) === this.valueOf()) return 0;
		    return this.toString().split(".")[1].length || 0; 
		}
	
		$('input[type="checkbox"]').click(function() {
			var idArr = this.id.split("_");
			var index = idArr[1];
			
			if ($(this).prop("checked") == true) {
				//alert(this.id + " checked");
				$("#macro_" + index).show();
				$("#macro_" + index).css("visibility", "visible");
			} else if ($(this).prop("checked") == false) {
				//alert(this.id + " unchecked");
				$("#macro_" + index).hide();
				$("#macro_" + index).css("visibility", "hidden");
			}
		});
		
	    $('input[id^=quantity_]').on("input", function(){
			var idArr = this.id.split("_");
			var index = idArr[1];
	    	
	    	if($.isNumeric($(this).val()) && $(this).val() > 0.0) {
	    		if ($('#entry_' + index).is(':checked')) {
					$("#macro_" + index).show();
					$("#macro_" + index).css("visibility", "visible");
	    		}
				
	    		var newQuantity = $(this).val();

	    		var calories = $("#baseCalories_" + index).val();
	    		var carbs = $("#baseCarbs_" + index).val();
	    		var fat = $("#baseFat_" + index).val();
	    		var protein = $("#baseProtein_" + index).val();

	    		var newCalories = calories * newQuantity;
	    		var newCarbs = carbs * newQuantity;
	    		var newFat = fat * newQuantity;
	    		var newProtein = protein * newQuantity;
	    		
/* 	    		console.log(newCarbs.countDecimals());
	    		console.log(newFat.countDecimals());
	    		console.log(newProtein.countDecimals());
	    		console.log("***"); */
	    		
	    		newCalories = newCalories.countDecimals() <= 1 ? newCalories.toFixed(1) : newCalories.toFixed(2);
	    		newCarbs = newCarbs.countDecimals() <= 1 ? newCarbs.toFixed(1) : newCarbs.toFixed(2);
	    		newFat = newFat.countDecimals() <= 1 ? newFat.toFixed(1) : newFat.toFixed(2);
	    		newProtein = newProtein.countDecimals() <= 1 ? newProtein.toFixed(1) : newProtein.toFixed(2);
	    		
/* 	    		console.log(carbs);
	    		console.log(fat);
	    		console.log(protein);
	    		console.log("***");
	    		console.log(carbs * newQuantity);
	    		console.log(fat * newQuantity);
	    		console.log(protein * newQuantity); */

	    		$("#calories_" + index).text(newCalories.toString() + ",");
	    		$("#carbs_" + index).text(newCarbs.toString() + " g,");
	    		$("#fat_" + index).text(newFat.toString() + " g,");
	    		$("#protein_" + index).text(newProtein.toString() + " g");
	    	} else {
				$("#macro_" + index).hide();
				$("#macro_" + index).css("visibility", "hidden");
	    	}
	    });
	    
	    $('input[id^=quantity_]').focus(function() {
	        // console.log(this.id + ' - in');
	    }).blur(function() {
	        console.log(this.id + ' - out');
	        if(!($.isNumeric($(this).val()) && $(this).val() > 0.0)) {
	        	//alert("Invalid quantity value");
	        	$('#' + this.id).val("1.0");
	        	$('#' + this.id).trigger("input");
	        }
	    });
		
	</script>
	
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>