<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://thymeleaf.org">
	<head>
		<title>MacroPro | Login</title>
		<style>
			.horizontal-center{
			  display: table;
			  margin: 0 auto;
			}
			.horizontal-center-two{
			  margin: 0 auto;
			}
			.btn {
			    width:100px;
			}
			.glyphicon.glyphicon-home {
				margin: 0 auto;
			    width: 100px;
			    white-space: nowrap;
			    font-size:25px;
			}
		</style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link th:href="@{/resources/css/style.css}" rel="stylesheet" >
		<link th:href="@{/resources/css/login-style.css}" rel="stylesheet" >
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	</head>
	<body>
		<div id="mp-header">
			<div id="mp-logo" class="horizontal-center"><a th:href="@{/}" ><img th:src="@{/resources/images/logo.jpg}" width="200" height="120" /></a></div>
			<div id="links" class="horizontal-center">
				<p style='padding-top: 20px'>
			    	<a class="welcome-link" th:href="@{/account/login}">Log In</a> &nbsp;&nbsp;|&nbsp;&nbsp;
			    	<a class="welcome-link" th:href="@{/account/signup}">Sign Up</a>
		    	</p>
		    </div>
		</div>
		<nav class="navbar navbar-expand-md topbar">
			<div class="container-fluid">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
				</ul>
			</div>
		</nav>
		
		<div class="row login-body">
			<div class="container">
				<div class="modal-dialog text-center">
				    <div class="col-sm-9 main-section">
						<div class="modal-content">
							<div class="col-12 user-img">
							  <img th:src="@{/resources/images/face.png}">
							</div>
						
							<div class="align-items-center">            
								<div th:if="${message != null}" th:text="${message}" class="alert alert-success col-xs-offset-1">
								</div>
								            
								<div th:if="${param.error != null}" class="alert alert-danger col-xs-offset-1">
									Invalid username and/or password.
								</div>
								            
								<div th:if="${param.logout != null}" class="alert alert-success col-xs-offset-1">
									You have been logged out.
								</div>
							</div>
							<div class="col-12 form-input">
								<form th:action="@{/authenticateTheUser}" method="POST" class="form-horizontal">
								   	<div class="form-group has-feedback has-feedback-left">
								     	<input type="text" name="username" class="form-control" placeholder="Username">
	    								<span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
								   	</div>
								 	<div class="form-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								    	<input type="password" name="password" class="form-control" placeholder="Password">
								 	</div>
								 	<button type="submit" class="btn btn-success">Login</button>
								 </form>
							</div>
							<div class="col-12 forgot">
							  <a href="#">Forgot Password?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
	</body>
</html>