<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="https://thymeleaf.org">
	<title>MacroPro | Create Account</title>
	
	<style>
		.error {
			color: red;
			left: 20px;
			position: relative;
		}
		.horizontal-center{
		  	display: table;
		  	margin: 0 auto;
		}
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link th:href="@{/resources/css/style.css}" rel="stylesheet" >	
</head>

<body>
	<div id="mp-header">
		<div id="mp-logo" class="horizontal-center"><a th:href="@{/}" ><img th:src="@{/resources/images/logo.jpg}" width="200" height="120" /></a></div>
		<div id="links" class="horizontal-center">
			<p style='padding-top: 20px'>
		    	<a class="welcome-link" th:href="@{/account/login}">Log In</a> &nbsp;&nbsp;|&nbsp;&nbsp;
		    	<a class="welcome-link" th:href="@{/account/signup}">Sign Up</a>
	    	</p>
	    </div>
	</div>
	<nav class="navbar navbar-expand-md topbar">
		<div class="container-fluid">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav>
	<br><br>
	<div id="wrapper">
		<div id="header" class="horizontal-center">
			<h4>Please fill out the form below</h4>
		</div>
	</div>
	<br>
	<div class="horizontal-center">
		<form th:action="@{/account/addUser}" th:object="${user}" method="POST">
			<table>
				<tbody>
					<tr>
						<td><label>Username*:</label></td>
						<td>&emsp;<input type="text" th:field="*{username}"/></td>
						<td th:if="${username_exists != null}" th:text="${username_exists}" class="error"></td>
						<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error" /></td>
					</tr>
					<tr>
						<td><label>Password*:</label></td>
						<td>&emsp;<input type="password" th:field="*{password}"/></td>
						<td th:if="${password_mismatch != null}" th:text="${password_mismatch}" class="error"></td>
						<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error" /></td>
					</tr>
					<tr>
						<td><label>Confirm Password*:</label></td>
						<td>&emsp;<input type="password" th:field="*{matchingPassword}"/></td>
						<td th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" class="error" /></td>
					</tr>
					<tr>
						<td><label>First Name*:</label></td>
						<td>&emsp;<input type="text" th:field="*{firstName}" /></td>
						<td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error" /></td>
					</tr>
					<tr>
						<td><label>Last Name*:</label></td>
						<td>&emsp;<input type="text" th:field="*{lastName}" /></td>
						<td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error" /></td>
					</tr>
					<tr>
						<td><label>Email Address*:</label></td>
						<td>&emsp;<input type="text" th:field="*{email}" /></td>
						<td th:if="${invalid_email != null}" th:text="${invalid_email}" class="error"></td>
						<td th:if="${email_exists != null}" th:text="${email_exists}" class="error"></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error" /></td>
					</tr>
					<tr>
						<td><label>Phone Number:</label></td>
						<td>&emsp;<input type="text" th:field="*{phoneNumber}" /></td>
						<td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error" /></td>
					</tr>
					<tr>
						<td><label>Country:</label></td>
						<td>&emsp;<input type="text" th:field="*{country}" /></td>
						<td th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="error" /></td>
					</tr>
				</tbody>
			</table>
			
			<br>
			<div class="horizontal-center">
				<input type="submit" value="Submit" />
			</div>
		</form>
	</div>
	<br>
	<div class="horizontal-center">
		<a href="${pageContext.request.contextPath}/">Back</a>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>

</html>